#robot-full {
  max-width: 300px;
}
#robot {
  position: relative;
  display: block;
  width: 100%;
  text-align:center;
  animation: float 2s infinite;
  background: transparent;

  img {
    width: 100%;
  }
}
.eyes-wrapper {
  position: absolute;
  z-index:10;
  bottom: 75%;
  left: 33%;
  width: 20%;
  margin: auto
}
.eye {
  background-color: #18187D;
  width: 7px;
  height: 32px;
  display: inline-block;
  z-index: 1;
  animation: blink 5s infinite;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .eye {
    width: 5px;
    animation: blink-md 5s infinite;
  }
}
.eye-left {
  float: left;
}
.eye-right {
  float: right;
}
#robot-shadow {
  background-color:rgba(0,0,0,0.40);
  width: 150px;
  height: 15px;
  margin: 0 auto;
  position: relative;
  left: -20px;
  filter: blur(6px);
  border-radius: 50%;
  animation: shadow 2s infinite;
  //margin-top:24px;
}

@keyframes float {
  0% {transform: translate(0,0);
    animation-timing-function: ease-out;
  }
  50% {transform: translate(0,-10px);
    animation-timing-function: ease-in;}
  100% {transform: translate(0,0);
    animation-timing-function: ease-out;}
}
@keyframes shadow {
  0% {  background-color:rgba(0,0,0,0.40 );
    width: 150px;
    left: -20px;
    filter: blur(6px);
    animation-timing-function: ease-out;}
  50% {  background-color:rgba(0,0,0,0.24 );
    width: 120px;
    left: -20px;
    filter: blur(8px);
    animation-timing-function: ease-in;}
  100% {  background-color:rgba(0,0,0,0.40 );
    width: 150px;
    left: -20px;
    filter: blur(6px);
    animation-timing-function: ease-out;}
}
@keyframes blink {
  0% {height: 32px;}
  40% {height: 32px;}
  42% {height: 2px;}
  44% {height: 32px;}
  70% {height: 32px;}
  72% {height: 2px;}
  74% {height: 32px;}
  76% {height: 32px;}
  78% {height: 2px;}
  80% {height: 32px;}

  100% {height: 32px;}
}
@keyframes blink-md {
  0% {height: 24px;}
  40% {height: 24px;}
  42% {height: 2px;}
  44% {height: 24px;}
  70% {height: 24px;}
  72% {height: 2px;}
  74% {height: 24px;}
  76% {height: 24px;}
  78% {height: 2px;}
  80% {height: 24px;}

  100% {height: 24px;}
}